<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--METAINF-->
    <div th:replace="/common/metainf :: content"></div>
    <!--STYLES-->
    <div th:replace="/common/style :: content"></div>
    <!--TITLE-->
    <title th:utext="${title}"></title>
</head>
<!--NAVBAR-->
<body style="padding-top: 70px;">
<div th:replace="/common/navbar :: content"></div>

<!--BODY-->
<div class="container body-content">

    <h1>About</h1>
    <hr/>

    <div class="row">
        <div class="col-7">

            <h3>Description</h3>
            <p>
                This application allows user to find charging points according to his preference. <br>
                There is possibility to find charging point which is closest to user's current location, all points in
                given radius, nearest point to specific address, all points in radius from specific address, all points
                in town and all in country.
                <br>
            </p>

            <h3>Technology used to create and develop this application:</h3>
            <ul>
                <li>Java 8</li>
                <li>Spring Boot</li>
                <li>Spring MVC</li>
                <li>Spring Web Services</li>
                <li>Thymeleaf</li>
                <li>Bootstrap</li>
                <li>JavaScript</li>
                <li>Google Maps API</li>
                <li>H2</li>
                <li>JUnit 5</li>
            </ul>

        </div>
        <div class="col-5">
            <img src="cp2.jpg" alt="Charger image" width="100%">
            <br>
        </div>
    </div>

    <!--FOOTER-->
    <div th:replace="/common/footer :: content"></div>
</div>
<!--SCRIPTS-->
<div th:replace="/common/scripts :: content"></div>
</body>
</html>