<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--METAINF-->
    <div th:replace="/common/metainf :: content"></div>
    <!--STYLES-->
    <div th:replace="/common/style :: content"></div>
    <!--TITLE-->
    <title th:utext="${title}"></title>
</head>
<!--NAVBAR-->
<body style="padding-top: 70px;">
<div th:replace="/common/navbar :: content"></div>

<!--BODY-->
<div class="container body-content">

    <h1 class="display-4">Welcome to "Charge Your Vehicle" App</h1>
    <hr class="my-4">
    <div class="row">
        <div class="col-4">
            <p class="lead">It's an application which search for charging points in the indicated area. </p>
            <p class="lead">If You want to know how does it work and where to start, just click
                <a href="/how-to-start" class="text-success">here</a>.
            </p>
            <p class="lead">More about functionalities and technologies used to create and develop this application
                You can read in '<a href="/about" class="text-success">About</a>' section.
            </p>
            <p class="lead">Enjoy! </p>
        </div>
        <div class="col-8">
            <img src="cp1.png" alt="Electric car image" width="100%">
        </div>
    </div>
    </br>
    </br>

    <!--FOOTER-->
    <div th:replace="/common/footer :: content"></div>
</div>
<!--SCRIPTS-->
<div th:replace="/common/scripts :: content"></div>
</body>
</html>