<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="jumbotron" th:fragment="content">
    <h1 class="display-3"><div th:utext="${text}"></div></h1>
    <p class="lead">This is ChargeYourVehicle App. It's an application which search charging points in the indicated area.</p>
    <hr class="my-4">
    <p>This Spring application allows user to find charging point according to his preference. </br>
        There is possibility to find charging point which is closest to user's current location, all points in given radius, all points in town and all in country.</br>
        </br>
        Technologies used to create this application : Spring Boot, Java 8, Thymeleaf.
    </p>
</div>