<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--METAINF-->
    <div th:replace="/common/metainf :: content"></div>
    <!--STYLES-->
    <div th:replace="/common/style :: content"></div>
    <!--TITLE-->
    <title th:utext="${title}"></title>
</head>
<!--NAVBAR-->
<body style="padding-top: 70px;">
<div th:replace="/common/navbar :: content"></div>

<!--BODY-->
<div class="container body-content">

    <div>
        <h1 class="display-4">Welcome to "Charge Your Vehicle" App!</h1>
        <hr class="my-4">
        <p class="lead">It's an application which searches charging points in the indicated area. </p>
        <img src="cp1.png" alt="Electric car image" width="50%">
        </br>
        </br>
    </div>

    <!--FOOTER-->
    <div th:replace="/common/footer :: content"></div>
</div>
<!--SCRIPTS-->
<div th:replace="/common/scripts :: content"></div>
</body>
</html>