<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--METAINF-->
    <div th:replace="/common/metainf :: content"></div>
    <!--STYLES-->
    <div th:replace="/common/style :: content"></div>
    <!--TITLE-->
    <title th:utext="${title}"></title>
</head>
<!--NAVBAR-->
<body style="padding-top: 70px;">
<div th:replace="/common/navbar :: content"></div>

<!--BODY-->
<div class="container body-content">

    <h1>Load charging points</h1>
    <hr/>

<div class="col-3">
    <form method="get" action="/administration/load-data-from-api-poland">
        <fieldset>
            <button type="submit" class="btn btn-primary">Load all charging points in Poland</button>
        </fieldset>
    </form>
    <br>
    <form method="get" action="/administration/load-data-from-api-india">
        <fieldset>
            <button type="submit" class="btn btn-primary">Load all charging points in India</button>
        </fieldset>
    </form>
    <br>
    <form method="get" action="/administration/load-data-from-api-world">
        <fieldset>
            <button type="submit" class="btn btn-primary">Load all charging points in the world</button>
        </fieldset>
    </form>
    <br>
    <br>
</div>

    <!--FOOTER-->
    <div th:replace="/common/footer :: content"></div>
</div>
<!--SCRIPTS-->
<div th:replace="/common/scripts :: content"></div>
</body>
</html>