<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--METAINF-->
    <div th:replace="/common/metainf :: content"></div>
    <!--STYLES-->
    <div th:replace="/common/style :: content"></div>
    <!--TITLE-->
    <title th:utext="${title}"></title>
</head>
<!--NAVBAR-->
<body style="padding-top: 70px;">
<div th:replace="/common/navbar :: content"></div>

<!--BODY-->
<div class="container body-content">

    <h1>Find all charging points in country</h1>
    <hr/>

    <div class="col-3">
        <form action="#" th:action="@{/search-by-country}" th:object="${chargingPointDto}" method="post">
        <!--<form method="get" action="/search-by-country">-->
            <fieldset>
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" th:field="*{country}" class="form-control" placeholder="Enter country">
                </div>
                </br>
                <button type="submit" class="btn btn-primary">Submit</button>
                </br>
                </br>
            </fieldset>
        </form>
    </div>

    <!--FOOTER-->
    <div th:replace="/common/footer :: content"></div>
</div>
<!--SCRIPTS-->
<div th:replace="/common/scripts :: content"></div>
</body>
</html>