<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--METAINF-->
    <div th:replace="/common/metainf :: content"></div>
    <!--STYLES-->
    <div th:replace="/common/style :: content"></div>
    <!--TITLE-->
    <title th:utext="${title}"></title>
</head>
<!--NAVBAR-->
<body style="padding-top: 70px;">
<div th:replace="/common/navbar :: content"></div>

<!--BODY-->
<div class="container body-content">

<h1>Find all charging points in town</h1>
<hr/>
<div class="col-3">
    <div th:if="${error!=null}">
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:utext=${error}></span>
        </div>
    </div>
    <form action="#" th:action="@{/search-by-town}" th:object="${chargingPointDto}" method="post">
        <fieldset>
            <div class="form-group">
                <label>Town</label>
                <input type="text" th:field="*{town}" class="form-control" placeholder="Enter town">
            </div>
            </br>
            <button type="submit" class="btn btn-primary">Submit</button>
            </br>
            </br>
        </fieldset>
    </form>
</div>

<!--FOOTER-->
<div th:replace="/common/footer :: content"></div>
</div>
<!--SCRIPTS-->
<div th:replace="/common/scripts :: content"></div>
</body>
</html>
