<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--METAINF-->
    <div th:replace="/common/metainf :: content"></div>
    <!--STYLES-->
    <div th:replace="/common/style :: content"></div>
    <!--TITLE-->
    <title th:utext="${title}"></title>
</head>
<!--NAVBAR-->
<body style="padding-top: 70px;">
<div th:replace="/common/navbar :: content"></div>

<!--BODY-->
<div class="container body-content">

    <h1>Statistics of chosen locations</h1>
    <hr/>

    <div class="container">
        <div>
            <table class="table table-hover">
                <thead>
                <th scope="col">Location</th>
                <th scope="col">Number of search</th>
                </thead>
                <tr th:each="location : ${locationList}">
                    <td th:utext=${location.name}></td>
                    <td th:utext=${location.numberOfVisits}></td>
                </tr>
            </table>
        </div>
    </div>
    </br>
    </br>
    <!--FOOTER-->
    <div th:replace="/common/footer :: content"></div>
</div>

<!--SCRIPTS-->
<div th:replace="/common/scripts :: content"></div>
</body>
</html>

